*{
    background-color: wheat;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 24px;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    font-family: 'Alexandria';
}


#game-board{
   width: 450px;
   height: 450px;
   display: grid;
   grid-template-columns: repeat(3,150px);
   grid-template-rows: repeat(3,150px);
   background-color: white; 
   border: transparent;
}
.cell{
    user-select: none;
    background-color: wheat;
    padding: 12px;
    border: 2px solid black;
    text-align: center;
    font-size: 100px;   
}
.left{
    border-left: none;
}
.top{
    border-top: none;
}
.right{
    border-right: none;
}
.bottom{
    border-bottom: none;
}
button{
    border: transparent;
    font-size: 35px;
}
button:hover,
div:hover{
    cursor: pointer;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}
#message{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    font-size: 40px;
    color: black;
    user-select: none;
    padding: 12px;
    top: 55px;
    left: 0;
    right: 0;
    background-color: transparent;
}
